$theme-color: #3467a5;
$white: #fff;
$gray: #a6a7a8;
$gray-900: #999;
$gray-800: #888;
$gray-700: #777;
$gray-600: #666;
$gray-500: #555;
$gray-light: #ccc;
$white-opacity-less: rgb(255, 255, 255,0.2);
$border-color: rgba(0,0,0,.125);
$font-small: 13px;
$postbox-color: #3467a5;
