$brand-color: #a1183f;
$brand-color-dark: darken($brand-color, 20);
$brand-color-light: lighten($brand-color, 20);
$brand-color-watermark: lighten($brand-color, 40);

$framework-color: #4926a6;
$framework-color-dark: darken($framework-color, 20);
$framework-color-light: lighten($framework-color, 40);
$framework-color-watermark: lighten($framework-color, 50);