/node_modules
/.vscode
/public/hot
/public/storage
/public/css
/public/js
/public/images
/public/uploads
/public/build
/public/server
/public/themes
/storage/*.key
/vendor
/.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/app/Models/*.php
/dist
composer.lock