// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// app styles
$navbar-dark-color: #ddd;
$navbar-dark-bar-color: #131313;
$navbar-dark-subheading-color: #888;
$brand-color: #472791;
$table-header-color: $navbar-dark-color;

a, a:hover {
    text-decoration: none;
}
.navbar-dark {
    color: $navbar-dark-color;
    background-color: #18202c !important;
    a {
        color: $navbar-dark-color !important;
    }
    div {
        color: $navbar-dark-color !important;
    }
    hr {
        background-color: $navbar-dark-bar-color !important;
    }
    button {
        color: $navbar-dark-color;
    }
    ul > div > li {
        color: $navbar-dark-subheading-color !important;
    }
    ul li {
        color: $navbar-dark-color !important;
    }
}
.coaster {
    border-left: solid 5px $brand-color;
}
.table-header-light {
    text-transform: uppercase;
}
