// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// app styles
$navbar-dark-color: #ddd;
$navbar-dark-bar-color: #131313;
$navbar-dark-bg-color: #18202c;
$navbar-dark-subheading-color: #888;
$brand-color: #472791;
$table-header-color: $navbar-dark-color;

.app-root {
    display: flex;

    .appbar-spacer {
        min-height: 64px;
    }
    .container {
        padding-top: 16px;
        padding-bottom: 32px;
    }
    .content {
        flex-grow: 1;
        height: 100vh;
        overflow: auto;
    }

    .toolbar {
        padding-right: 24px;

        .title {
            flex-grow: 1;
        }
    }
    .toolbar-icon {
        display: flex;
        min-height: 64px;
        align-items: center;
        justify-content: flex-end;
        padding: 0 8px;
    }
}

a, a:hover {
    text-decoration: none;
}
.navbar-dark {
    color: $navbar-dark-color;
    background-color: $navbar-dark-bg-color  !important;
    a {
        color: $navbar-dark-color !important;
    }
    div {
        color: $navbar-dark-color !important;
    }
    hr {
        background-color: $navbar-dark-bar-color !important;
    }
    button {
        color: $navbar-dark-color;
    }
    ul > div > li {
        color: $navbar-dark-subheading-color !important;
        background-color: transparent !important;
    }
    ul li {
        color: $navbar-dark-color !important;
    }
    svg[data-prefix="fas"] {
        margin-left: 4px;
    }
}
.coaster {
    border-left: solid 5px $brand-color;
}
.table-header-light {
    text-transform: uppercase;
}
