@import './colors';

body {
  background-color: $body-bg-color !important;
}

#web {
  .web-root {
    header {
      box-shadow: none !important;
      margin-bottom: 20px !important;
      position: fixed;

      div.MuiToolbar-root {
        min-height: 48px;
      }
    }
    div.MuiGrid-root {
      padding-top: 0;
      margin-top: 0;
    }
    .toolbar {
      padding-left: 120px !important;
      padding-right: 120px !important;
      justify-content: center !important;
    }
    a {
      text-decoration: none !important;
      color: $brand-color;
    }
    a:hover {
      text-decoration: none !important;
      color: $brand-color-dark;
    }
    .menu-button {
      .icon {
        min-width: 30px !important;
        font-size: 18px;
      }
      .text {
        margin-top: 7px !important;
      }
      &:hover {
        border-radius: 5px !important;
        background-color: transparent;
        color: $brand-color;
      }
    }
    .avatar-icon {
      width: 100px;
      height: 100px;
      font-size: 48px;
      background-color: $brand-color-light !important;
      color: #fff !important;
      margin-bottom: 10px;
    }
    .menu-panel {
      position: relative;
      top: 66px;
      .MuiCardContent-root {
        padding: 0 !important;
      }
    }
    .feed-panel {
      position: relative;
      top: 66px !important;
    }
    .user-panel {
      position: relative;
      top: 66px !important;
    }
  }
}
